*{
    margin: 0;
    padding: 0;
}
  

.outer{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.inner{
width: 50px;
height: 50px;
position: absolute;

animation: myMove 8s infinite;

}
.inner_dvd{
    font-size: 100px;
   
}
.inner_video{
    font-size: 40px;
     
    padding-left: 60px;
    
}

@keyframes myMove{
    0%{
        margin-left: 1000px;
        margin-top: 400px;
        color: #ff8800;
    }
    16%{
        margin-left: 1310px;
       margin-top: 250px;
       color: #ff3a8f;
    }
    32%{
        margin-left: 900px;
        margin-top: 0px;
    }
    48%{
        margin-left: 450px;
        margin-top: 570px;
   color: #0030ff;
    }
    64%{
        margin-left: 0px;
        margin-top: 250px;
      
      color: #0030ff;
    }
    80%{
        margin-left: 250px;
        margin-top: 0px;
       
       color: #ff8800;
    }
    100%{
      
        margin-left: 900px;
        margin-top: 450px;
      
       color:#0030ff ;
    }
}   
